## Murder Game

In [1]:
import pandas as pd

In [39]:
crime_report = pd.read_csv('crime_scene_report.csv')

In [7]:
print(data_crime.T)

                                                          0     \
date                                                  20180115
type                                                   robbery
description  A Man Dressed as Spider-Man Is on a Robbery Spree
city                                                       NYC

                                          1     \
date                                  20180115
type                                    murder
description  Life? Dont talk to me about life.
city                                    Albany

                                                          2     \
date                                                  20180115
type                                                    murder
description  Mama, I killed a man, put a gun against his he...
city                                                      Reno

                                   3     \
date                           20180215
type                             murder
description  REDACTED REDACTED REDACTED
city                           SQL City

                                                          4     \
date                                                  20180215
type                                                    murder
description  Someone killed the guard! He took an arrow to ...
city                                                  SQL City

                                        5     \
date                                20180115
type                                   theft
description  Big Bully stole my lunch money!
city                                 Chicago

                                                          6     \
date                                                  20180115
type                                                     fraud
description  Lorem ipsum dolor sit amet, consectetur adipis...
city                                                   Seattle

                                                          7     \
date                                                  20170712
type                                                     theft
description  A lone hunter stalks the night, firing arrows ...
city                                                  SQL City

                                                          8     \
date                                                  20170820
type                                                     arson
description  Wield the Hammer of Sol with honor, Titan, it ...
city                                                  SQL City

                                                          9     ...  \
date                                                  20171110  ...
type                                                   robbery  ...
description  The Gjallarhorn shoulder-mounted rocket system...  ...
city                                                  SQL City  ...

                                                          1218  \
date                                                  20180428
type                                                     arson
description  remained some time after the rest of it had go...
city                                                    Denton

                                   1219  \
date                           20180428
type                          blackmail
description  other side of the court.\n
city                             Lorain

                                                          1220  \
date                                                  20180429
type                                                    murder
description  (she was obliged to say ‘creatures,’ you see, ...
city                                                    Toledo

                                             1221  \
date                                     20180430
type                                       murder
description  ‘But what am I to do?’ said Alice.\n
city                                      Spokane

                                                          1222          1223  \
date                                                  20180430      20180430
type                                                   robbery       bribery
description  ‘And how did you manage on the twelfth?’ Alice...            \n
city                                                   Trenton  Garden Grove

                                          1224      1225  \
date                                  20180430  20180430
type                                     fraud   assault
description  ‘Why not?’ said the March Hare.\n        \n
city                                     Houma   Fontana

                                                          1226  \
date                                                  20180501
type                                                   assault
description  be NO mistake about it: it was neither more no...
city                                                   Trenton

                                                          1227
date                                                  20180115
type                                                    murder
description  Security footage shows that there were 2 witne...
city                                                  SQL City

[4 rows x 1228 columns]

In [68]:
date_condition = 20180115
type_condition = "murder"
city_condition = "SQL City"

In [69]:
#我的方法
filtered_data_crime = crime_report.loc[(crime_report['date'] == date_condition) 
                                       & (crime_report['type'] == type_condition) 
                                       & (crime_report['city'] == city_condition)]
print(filtered_data_crime['description'].values)

['Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".']

### Fiding the info of the witness

In [52]:
witness = pd.read_csv('person.csv')

In [86]:
#The info of the second witness
name_condition = "Annabel"
address_street_name_condition = "Franklin Ave"

filtered_witness = witness[(witness['name'].str.contains(name_condition, case=False, na=False)) 
                           & (witness['address_street_name'] == "Franklin Ave")]
print(filtered_witness)

        id            name  license_id  address_number address_street_name  \
665  16371  Annabel Miller      490173             103        Franklin Ave

           ssn
665  318771143

In [ ]:
# the info of the first witness

filtered_witness2 = witness[(witness['address_street_name'] == "Northwestern Dr")]                            
print(filtered_witness2)

In [95]:
filtered_witness3 = filtered_witness2[(filtered_witness2['address_number'] == filtered_witness2['address_number'].max())]
print(filtered_witness3)

        id            name  license_id  address_number address_street_name  \
499  14887  Morty Schapiro      118009            4919     Northwestern Dr

           ssn
499  111564949

## Interview

In [96]:
interview = pd.read_csv('interview.csv')

In [100]:
print(interview.loc[(interview['person_id'] == 14887)].values)
print(interview.loc[(interview['person_id'] == 16371)].values)

[[14887
  'I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".']]
[[16371
  'I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.']]

# Clue 4

In [101]:
driver = pd.read_csv('drivers_license.csv')

In [103]:
filtered_driver = driver[(driver['car_model'] == "Model S") & (driver['gender'] == "female")]
print(filtered_driver)

          id  age  height eye_color hair_color  gender plate_number car_make  \
1105  202298   68      66     green        red  female       500123    Tesla
2054  291182   65      66      blue        red  female       08CM64    Tesla
6428  682231   51      80     green       grey  female       3Z0M62    Tesla
9078  918773   48      65     black        red  female       917UU3    Tesla

     car_model
1105   Model S
2054   Model S
6428   Model S
9078   Model S

In [104]:
event = pd.read_csv('facebook_event_check_in.csv')

In [133]:
driver2 = filtered_driver.rename({'id': 'person_id'}, axis='columns')
merged_data = driver2.merge(event, on = 'person_id', how = 'outer')
filtered_data4 = merged_data[merged_data['event_name'] == 'SQL Symphony Concert']
print(filtered_data4)

       person_id  age  height eye_color hair_color gender plate_number  \
15         97207  NaN     NaN       NaN        NaN    NaN          NaN
16         97207  NaN     NaN       NaN        NaN    NaN          NaN
113        92433  NaN     NaN       NaN        NaN    NaN          NaN
114        92433  NaN     NaN       NaN        NaN    NaN          NaN
300        88952  NaN     NaN       NaN        NaN    NaN          NaN
...          ...  ...     ...       ...        ...    ...          ...
20007      24556  NaN     NaN       NaN        NaN    NaN          NaN
20010      99716  NaN     NaN       NaN        NaN    NaN          NaN
20011      99716  NaN     NaN       NaN        NaN    NaN          NaN
20012      99716  NaN     NaN       NaN        NaN    NaN          NaN
20014      67318  NaN     NaN       NaN        NaN    NaN          NaN

      car_make car_model  event_id            event_name        date
15         NaN       NaN    1143.0  SQL Symphony Concert  20170322.0
16         NaN       NaN    1143.0  SQL Symphony Concert  20180226.0
113        NaN       NaN    1143.0  SQL Symphony Concert  20170821.0
114        NaN       NaN    1143.0  SQL Symphony Concert  20180327.0
300        NaN       NaN    1143.0  SQL Symphony Concert  20170918.0
...        ...       ...       ...                   ...         ...
20007      NaN       NaN    1143.0  SQL Symphony Concert  20171224.0
20010      NaN       NaN    1143.0  SQL Symphony Concert  20171206.0
20011      NaN       NaN    1143.0  SQL Symphony Concert  20171212.0
20012      NaN       NaN    1143.0  SQL Symphony Concert  20171229.0
20014      NaN       NaN    1143.0  SQL Symphony Concert  20171206.0

[212 rows x 12 columns]

In [134]:
date_condition = '201712'
filtered_data5 = filtered_data4[filtered_data4['date'].astype(str).str.contains(date_condition, case=False, na=False)]
print(filtered_data5)

       person_id  age  height eye_color hair_color gender plate_number  \
4091       62596  NaN     NaN       NaN        NaN    NaN          NaN
4396       19260  NaN     NaN       NaN        NaN    NaN          NaN
6556       58898  NaN     NaN       NaN        NaN    NaN          NaN
6624       69699  NaN     NaN       NaN        NaN    NaN          NaN
6721       19292  NaN     NaN       NaN        NaN    NaN          NaN
7270       43366  NaN     NaN       NaN        NaN    NaN          NaN
8399       92343  NaN     NaN       NaN        NaN    NaN          NaN
10913      28582  NaN     NaN       NaN        NaN    NaN          NaN
10914      28582  NaN     NaN       NaN        NaN    NaN          NaN
13723      81526  NaN     NaN       NaN        NaN    NaN          NaN
13749      24397  NaN     NaN       NaN        NaN    NaN          NaN
14316      11173  NaN     NaN       NaN        NaN    NaN          NaN
15309      79312  NaN     NaN       NaN        NaN    NaN          NaN
15900      69325  NaN     NaN       NaN        NaN    NaN          NaN
20005      24556  NaN     NaN       NaN        NaN    NaN          NaN
20006      24556  NaN     NaN       NaN        NaN    NaN          NaN
20007      24556  NaN     NaN       NaN        NaN    NaN          NaN
20010      99716  NaN     NaN       NaN        NaN    NaN          NaN
20011      99716  NaN     NaN       NaN        NaN    NaN          NaN
20012      99716  NaN     NaN       NaN        NaN    NaN          NaN
20014      67318  NaN     NaN       NaN        NaN    NaN          NaN

      car_make car_model  event_id            event_name        date
4091       NaN       NaN    1143.0  SQL Symphony Concert  20171225.0
4396       NaN       NaN    1143.0  SQL Symphony Concert  20171214.0
6556       NaN       NaN    1143.0  SQL Symphony Concert  20171220.0
6624       NaN       NaN    1143.0  SQL Symphony Concert  20171214.0
6721       NaN       NaN    1143.0  SQL Symphony Concert  20171213.0
7270       NaN       NaN    1143.0  SQL Symphony Concert  20171207.0
8399       NaN       NaN    1143.0  SQL Symphony Concert  20171212.0
10913      NaN       NaN    1143.0  SQL Symphony Concert  20171220.0
10914      NaN       NaN    1143.0  SQL Symphony Concert  20171215.0
13723      NaN       NaN    1143.0  SQL Symphony Concert  20171202.0
13749      NaN       NaN    1143.0  SQL Symphony Concert  20171208.0
14316      NaN       NaN    1143.0  SQL Symphony Concert  20171223.0
15309      NaN       NaN    1143.0  SQL Symphony Concert  20171203.0
15900      NaN       NaN    1143.0  SQL Symphony Concert  20171206.0
20005      NaN       NaN    1143.0  SQL Symphony Concert  20171207.0
20006      NaN       NaN    1143.0  SQL Symphony Concert  20171221.0
20007      NaN       NaN    1143.0  SQL Symphony Concert  20171224.0
20010      NaN       NaN    1143.0  SQL Symphony Concert  20171206.0
20011      NaN       NaN    1143.0  SQL Symphony Concert  20171212.0
20012      NaN       NaN    1143.0  SQL Symphony Concert  20171229.0
20014      NaN       NaN    1143.0  SQL Symphony Concert  20171206.0